html 
{
    font-size: 15px;
}

body 
{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #000;
    margin: 400px 700px;
}

.checkbox 
{
    position: relative;
    margin-bottom: 1rem;
}

.checkbox__input 
{
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__label 
{
    padding-left: 25px;

    font-size: 1rem;
    color: #444;
    cursor: pointer;
}

.checkbox__label:before 
{
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;

    position: absolute;
    
    z-index: 1;

    transition: background .1s linear, border .1s linear;
}
.checkbox__input:checked + .checkbox__label:before
{
    background-color: #49d120;
    border-color: #319612;
}

.checkbox__input:checked + .checkbox__label:after 
{
    opacity: 1;
}