body
{
    font-family: "Montserrat";
   margin-right: 1100px;
    z-index: 12;
}

.header{
    display: flex;
    position: fixed;
    margin-left: 50px;
    margin-right: 500px;
    z-index: 10;
}
.icon{
    margin-top: 18px;
    margin-left: 84px;
    width: 52.5px;
    height: 61.68px;
    z-index: 1;
}
.icon-name{
    font-size: 24;
    margin-right: 850px;
    margin-left: 25px;
    margin-top: 25px;
    z-index: 1;
}
.course, .about, .contacts, .main{
    text-decoration: none;
    color:#3675AC;
    font-weight: bold;
    margin-top: 25px;
    font-size: 25px;
    margin-left: 40px;
    white-space: nowrap;
    z-index: 1;
}
.main
{
    text-decoration: none; 
    color:#000000;
    font-weight: bold;
    z-index: 2;
}
.section-mid {
    display: flex;
     /* Распределяет контент и картинку по краям */
    align-items: center; /* Выравнивает элементы по вертикали относительно друг друга */
    padding: 20px; /* Внутренние отступы */
    
    padding-top:120px ;
    z-index: 2;
    
}
.section-textblock{
    display: flex;
    flex-direction: column; /* Размещает заголовок, текст и кнопку вертикально */
    max-width: 60%;
    margin-left: 104px;
    margin-top: 100px;
    
}


.caption{
    letter-spacing: 2px;
    color:#3675AC;
    font-size: 64px;
    width:540px ;
    margin-top: -100px;
    z-index: 1;
}
.text{
    width:520px;
    font-size: 24px;
    margin-top: -20px;
    margin-bottom: 50px;
    color: #081A2B;
    z-index: 1;
}
.image{
    position: relative;
    width: 558px;
    height: auto;
    border-radius: 0 72px 0 72px;
    margin-top: 50px;
    margin-left: 660px;
    z-index: 1;
}
.button{
    margin-left: 40px;
    z-index: 1;
}
.icons{
    opacity: 0.4;   
}
.icon-1{
    position: absolute;
    bottom: 15px;
    left: 350px;
    width: 250px;
    height: 250px;
    z-index: 0;
}
.icon-2{
    position: absolute;
    bottom: 50px;
    left: 130px;
    width: 250px;
    height: 250px;
    z-index: 0;

}
.icon-3{
    position: absolute;
    left: 550px;
    bottom: 80px;
    width: 250px;
    height: 250px;
    z-index: 0;
}
.icon-4{
    position: absolute;
    left: 840px;
    bottom: 80px;
    width: 250px;
    height: 250px;
    z-index: 0;
}
.icon-5{
    position: absolute;
    right: 475px;
    bottom: 5px;    
    width: 250px;
    height: 250px;
    rotate: 345deg;
    z-index: 0;
}
.icon-6{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 680px;
    bottom: 275px;
    z-index: 0;
}
.icon-7{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 980px;
    bottom: 352px;
    rotate: 33deg;
    z-index: 0;
}
.icon-8{
    position: absolute;
    width: 150px;
    height: 150px;
    right: 175px;
    bottom: 50px;
    rotate: -45deg;
}
.icon-9{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 200px;
    left:780px;
}
.icon-10{
    position: absolute;
    width: 250px;
    height: 250px;
    rotate: -50deg;
    top: 100px;
    left:980px;
}
.icon-11{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 100px;
    left:580px;
}
.icon-12{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 100px;
    top: 200px;
    rotate: 45deg;
}
.icon-13{
    position: absolute;
    width: 220px;
    height: 220px;
    left: 375px;
    top: 375px;
    rotate: -37deg;
}