body
{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000;
}
*
{
    box-sizing: border-box;
}
.pagenav
{
    display: flex; 
    justify-content: center;
    margin-top: 20px 0;
}
.pagenav-item
{
width: 40px;
height: 40px;
background-color: #ddd;
color: #333;
text-align: center;
margin: 0 3px;
line-height: 40px;
text-decoration: none;
}
.pagenav-item.active
{
    background-color: #d10953;
    color: #fff;
}
.pagenav-item:hover
{
    background-color: #ccc;
}